<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxx.dao.ChatMapper">
    <resultMap id="ChatResultMap" type="com.yxx.pojo.Chat">
        <result column="chat_id" property="chatId" />
        <result column="A_openID" property="AOpenID" />
        <result column="B_openID" property="BOpenID" />
        <result column="content" property="content" />
        <result column="theTime" property="theTime" />
    </resultMap>

    <!-- 查找离线聊天信息 -->
    <select id="selectChatMessage" resultType="com.yxx.pojo.Chat" parameterType="string">
        select * from chat
        where B_openID = #{openID}
    </select>

    <!-- 删除离线聊天信息 -->
    <delete id="deleteChatMessage" parameterType="string">
        delete from chat
        where B_openID = #{openID}
    </delete>

    <!-- 获取聊天列表 -->
    <select id="getChatList" resultType="com.yxx.pojo.ChatList">
        select * from chatList, user
        where user.openID = chatList.B_openID
        and A_openID = #{openID}
        order by modifyTime desc
        limit #{currentPage},15
    </select>

    <!-- 删除聊天列表 -->
    <delete id="deleteChatList">
        delete from chatList
        where A_openID = #{A_openID}
        and B_openID = #{B_openID}
    </delete>
</mapper>