<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxx.dao.CollectionMapper">

    <!--collection表的实体映射-->
    <resultMap id="CollectionResultMap" type="com.yxx.pojo.Collection">
        <result column="collection_id" property="collectionId" />
        <result column="goods_id" property="goodsId" />
        <result column="openID" property="openID" />
    </resultMap>
</mapper>