<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxx.dao.ReplyMapper">
    <resultMap id="ReplyResultMap" type="com.yxx.pojo.Reply">
        <result column="reply_id" property="replyId" />
        <result column="speaker" property="speaker"/>
        <result column="speaker_image" property="speakerImage"/>
        <result column="listener" property="listener"/>
        <result column="seller" property="seller"/>
        <result column="buyer" property="buyer"/>
        <result column="create_time" property="createTime"/>
        <result column="message" property="message"/>
        <result column="message_number" property="messageNumber"/>
    </resultMap>
    <select id="selectDetailForOneReply" resultType="com.yxx.pojo.Reply">
       select * from reply where message_number=#{messageNumber}
        order by reply.create_time asc
        limit #{currentPage},15
    </select>
</mapper>